version: 2.1

orbs:
  win: circleci/windows@2.2.0
jobs:
  build:
    working_directory: ~/repo
    executor: win/default

    steps:
      - checkout
      - run:
          working_directory: ~/repo/src
          command: |
            dotnet build
